body {
  font-family: "Barlow Semi Condensed";
  background-color: hsl(210, 46%, 95%);
}

img {
  display: inline-block;
  height: 33px;
  margin-right: 15px;
  vertical-align: middle;
  object-fit: cover;
  border: 2px solid;
}

.user {
  display: inline-block;
  vertical-align: middle;
}

.container-fluid {
  padding: 3% 10%;
}

.d-flex {
  padding: 0;
}

.card {
  border-radius: 10px;
  border: none;
  margin: 20px;
  padding: 35px;
  box-shadow: black;
}

.card-header {
  padding: 0;
  background: none;
  border: none;
}

.title {
  font-weight: 600;
  font-size: 13px;
  margin: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 13px;
  opacity: 50%;
  margin: 0;
}

.card-body {
  padding: 0;
}

.big-quote {
  font-weight: 600;
  padding-top: 15px;
}

.small-quote {
  font-weight: 500;
  font-size: 13px;
  opacity: 70%;
}

.purple-card {
  background-color: hsl(263, 55%, 52%);
  color: hsl(210, 46%, 95%);
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: 80%;
}

.light-gray-card {
  background-color: hsl(217, 19%, 35%);
  color: hsl(210, 46%, 95%);
}

.dark-gray-card {
  background-color: hsl(219, 29%, 14%);
  color: hsl(210, 46%, 95%);
}

.white-card {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}
